# aliases
alias wifioff="networksetup -setairportpower en0 off"
alias wifion="networksetup -setairportpower en0 on"
alias wifireboot="wifioff && wifion"

# git aliases
git config --global alias.co checkout
git config --global alias.br branch
git config --global alias.c commit
git config --global alias.s status

# kubernetes aliases
alias k="kubectl"

###########################
# Docker section
###########################

## start docker machine on the 'default' virtualbox vm

docker-init() {
  if [ -z "$@" ]
    then
      name=default
    else
      name=$@
  fi
  docker-machine start $name 
  eval "$(docker-machine env $name)"
}

## Get into a container
into () {
  docker exec -ti $@ sh
}

## Cleans docker images / containers
## to prevent them from eating ton
## of space
docker-clean() {
  echo 'Removing exited containers'
  docker rm $(docker ps -f=status=exited -a -q)
  echo 'Removing dangling images'
  docker rmi `docker images -qf 'dangling=true'`
}

## kill all containers
docker-killall() {
  docker ps | awk '{print $1}' | tail -n +2 | xargs docker kill
}

## kill all containers
docker-rmiall() {
  docker images | awk '{print $3}' | tail -n +2 | xargs docker kill
}

## Shorthand for interactive Erlang REPL
erldocker() {
  docker run -it --rm erlang
}

###########################
# Misc section
###########################

## shortand git push

push () {
    git push --set-upstream origin `git symbolic-ref --short HEAD`
}

## provides a somewhat sane side-by-side git diff in the terminal

gdiff () {
    git difftool $1 -y -x "colordiff -y -W $COLUMNS" | less -R
}

glog () {
    git log --graph --oneline
}

